<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="common/common :: common('getCurrent')">
    <th:block th:fragment="getCurrent">
        <script src="/webjars/jquery/jquery.min.js"></script>
        <script src="/webjars/sockjs-client/sockjs.min.js"></script>
        <script src="/webjars/stomp-websocket/stomp.min.js"></script>
        <div id="main-content" class="container">
            <div class="row">
                <div class="col-md-12">
                    <label>Date:   </label><input id="date">
                    <div></div>
                    <label>Price:  </label><input id="price">
                </div>
            </div>
        </div>
        </div>
        <script type="text/javascript">
            var stompClient = null;


            window.onload = startCon;

            function startCon() {
                connect();

                return false;
            }

            window.onbeforeunload = endCon;

            function endCon() {
                stompClient.send("/htmlReader/state", {}, JSON.stringify({'isActive': false}));
                return false;
            }



            function connect() {
                var socket = new SockJS('/currentPriceWebSocket');
                stompClient = Stomp.over(socket);
                stompClient.connect({}, function (frame) {
                    console.log('Connected: ' + frame);
                    stompClient.subscribe('/prices/getCurrent', function (greeting) {
                        if(greeting.body == "Disconnect"){
                            disconnect();
                        }
                        showGreeting(JSON.parse(greeting.body));
                    });
                    stompClient.send("/htmlReader/state", {}, JSON.stringify({'isActive': true}));
                });
            }

            function disconnect() {
                if (stompClient !== null) {
                    stompClient.disconnect();
                }
                console.log("Disconnected");
            }

            function showGreeting(json) {
                document.getElementById("date").value = json.date.toString();
                document.getElementById("price").value = json.open.toString();
            }

        </script>
    </th:block>
</th:block>
</html>